<html ng-app="adminApp">
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="admin.css"> 
    
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>  
     <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <!-- Controller -->
    <script src="admin.js"></script> 
    
    
    
    
    </head>
    <body ng-controller="addMemberCtrl" class="" style="background-color: #666">
<!--            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone"></div>-->
        <form ng-submit="addMember()" >
            <div id="container" style="margin: auto; margin-top: 10%" class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"> Member Form</h2>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="margin: auto">
                <input type="text" class="mdl-textfield__input" id="name" ng-model="name" placeholder="Israel Dilan" name="name" required>
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="margin: auto">
                <input type="email" class="mdl-textfield__input" id="email" ng-model="email" placeholder="israel.dilan@upr.edu" name="email" required>
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="margin: auto">
                <input type="url" class="mdl-textfield__input" id="facebook" ng-model="facebook" placeholder="https://www.facebook.com/israelodilan" size="75" name="facebook" validate>
                <label class="mdl-textfield__label" for="facebook">Facebook Link</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="margin: auto">
                <input type="url" class="mdl-textfield__input" id="profilePic" size="75" ng-model="profilePic" name="profilePic">
                <label class="mdl-textfield__label" for="profilePic">Profile Pic Link</label>

            </div>
            <div >
              <button type="submit" style="float: align-right ; margin-left: 20px; margin-bottom: 20px " class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Add Member
                </button>
                
            </div>
            
            </div>
        </form>

        <!-- Debug 
        <pre>
        Name : {{name}}
        email: {{email}}
        facebook: {{facebook}}
        profilePic: {{profilePic}}
        </pre>
         -->
        
    </body>
</html>
